.about__contents{
    .about-head{
        font-weight: bold;
        color: $lightgreen;
        margin: 1rem 0;
    }
    p{
        font-size: .9375rem;
        font-weight: 300;
        line-height: 1.7;
        color: #656565;
    }
    .why-us{
        padding: 3rem 0;
        h4{
            font-weight: bold;
            margin: 1rem 0;
            color: $lightgreen;
        }
        h6{
            color: $lightgreen;
            padding: .6rem 0;
            font-weight: bold;
        }
        p{
            font-size: .8875rem;
            font-weight: 300;
            line-height: 1.7;
            color: #656565;
        }
        .why-icon{
            color: $lightgreen;
            font-size: 2rem;
            padding: .5rem 0;
        }
    }
}