footer{
    padding-top: 5rem;
    h5{
        font-weight: bold;
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        color: #242424;
    }
    h6{
        font-size: 1rem;
    }
    p{
        font-size: .8575rem;
        font-weight: 300;
        color: #656565;
        line-height: 1.7;
    }
    .social-links{
        padding-right: 2rem;
        font-size: 1.5rem;
        color: #242424;
    }
}