*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round' !important;
<<<<<<< HEAD
    overflow-x: hidden;
=======
    overflow-x: hidden !important;
>>>>>>> designs
}
ul{
    list-style: none;
}